# Temporary files
cloud_functions/alert_notification/**/*.log

**/__pycache__
**/node_modules

# Any SQLite instances
**.db
 
**Brewfile.lock.*

# Enivronmental
**.env
data

site/
temp/

# Local Documentation
docs/src/docker**
docs/src/pfo-cli**
docs/src/base-repo-template**
.python**

#IDE
.idea/*
