virtualenv==20.21.1

mkdocs==1.6.0
mkdocs-material==9.5.27
mkdocs-material-extensions==1.3.1
mkdocs-mermaid2-plugin==1.1.1
mkdocs-autorefs==0.5.0
mkdocstrings==0.24.0
mkdocstrings-python==1.7.5
mkdocs-exclude-search==0.6.5
mkdocs-badges==0.4.1
mkdocs-glightbox==0.4.0
mkdocs-macros-plugin==1.3.7 # https://pypi.org/project/mkdocs-macros-plugin/
emoji==2.14.1
icecream==2.1.4
termcolor==3.1.0
colorama==0.4.6
halo==0.0.31
